<h2 align="center"><strong>VARIABLES</strong></h2>

In [4]:
a_long_string = """
this is 
a very 
long string
"""

print(a_long_string)

this is
a very
long string

In [5]:
a = 5
b = 6

f"hello {a+b}"

'hello 11'

In [10]:
name = "somesh"

name.replace("s", "ss")

'ssomessh'

### **Lists**

In [11]:
[]

[]

In [12]:
names = ["somesh", "suresh", "ramesh"]

In [13]:
len(names)

3

In [14]:
names[1]

'suresh'

In [15]:
lottery_numbers = [1, 222, 31, 43, 1235, 116]

In [16]:
sorted(lottery_numbers)
# or we can also use lottery_numbers.sort()

[1, 31, 43, 116, 222, 1235]

In [21]:
sorted(lottery_numbers , reverse= True)
# or we can use lottery_numbers.sort(reverse=True)

[1235, 222, 116, 43, 31, 1]

###### Practice ?

In [24]:
def add(a,b):
    return f"the sum of the no.s that you have given is :> {a+b}"
add(5,6)

'the sum of the no.s that you have given is :> 11'

In [31]:

for i in range (0,len(lottery_numbers)):

    if (lottery_numbers[i] == 1):
        break
 
print(i)

# or 
# ind = 0 
# for i in lottery_numbers:
#     if i == 1:
#         break
#     else:
#         ind+=1
# print(ind)

5

### **Tuple**

In [37]:
student = ("somesh" , 21 , "CMS" , 3.26)
student

('somesh', 21, 'CMS', 3.26)

In [38]:
name , age , subject , gpa = student

In [39]:
name

'somesh'

In [40]:
age

21

### **Set**

In [41]:
# Empty set 
type(set())

set

In [43]:
# Set only takes unique values

my_set = {3,3,4}
my_set

{3, 4}

In [44]:
names = [
    "somesh" , 
    "suresh" ,
    "ramesh"
]

In [45]:
set(names)

{'ramesh', 'somesh', 'suresh'}

In [48]:
my_set =  {'a' , 1,2,3,5,6,"hellow world "}

In [49]:
my_set

{1, 2, 3, 5, 6, 'a', 'hellow world '}

In [50]:
my_set.add(5)

In [51]:
my_set

{1, 2, 3, 5, 6, 'a', 'hellow world '}

In [52]:
my_set.discard(5)

In [53]:
my_set

{1, 2, 3, 6, 'a', 'hellow world '}

In [54]:
color = {"red" ,  "orange " , "yellow" , "green" , "blue" , "indigo" , "violet"}

In [55]:
colors = {"red" , "orange" , "yellow" , "green" , "blue" , "indigo" , "violet" , "black" , "white"}

In [56]:
numbers = {1,2,3,4,5,6,7,8,9,10}

In [57]:
colors.update(numbers)

In [58]:
colors

{1,
 10,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'black',
 'blue',
 'green',
 'indigo',
 'orange',
 'red',
 'violet',
 'white',
 'yellow'}

In [59]:
color.union(numbers)

{1,
 10,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'blue',
 'green',
 'indigo',
 'orange ',
 'red',
 'violet',
 'yellow'}

In [60]:
color

{'blue', 'green', 'indigo', 'orange ', 'red', 'violet', 'yellow'}

### **Dictionary**

In [61]:
# Empty dictionary
type({})

dict

In [63]:
my_dict = {'one' : 1 , 'two' : 2 , 'three' : 3}

In [64]:
type(my_dict)

dict

In [65]:
my_dict['one']

1